/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file */

@font-face {
	font-family: 'Proximanova';
	src: url('../fonts/proximanova-reg.eot');
	src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/proximanova-reg.woff') format('woff'),
		  url('../fonts/proximanova-reg.ttf') format('truetype'),
		  url('../fonts/proximanova-reg.svg#proximanova-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proximanova-Light';
	src: url('../fonts/proximanova-light.eot');
	src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/proximanova-light.woff') format('woff'),
		  url('../fonts/proximanova-light.ttf') format('truetype'),
		  url('../fonts/proximanova-light.svg#proximanova-light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proximanova-Bold';
	src: url('../fonts/proximanova-bold.eot');
	src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/proximanova-bold.woff') format('woff'),
		  url('../fonts/proximanova-bold.ttf') format('truetype'),
		  url('../fonts/proximanova-bold.svg#proximanova-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proximanova-xBold';
	src: url('../fonts/proximanova-xbold.eot');
	src: url('../fonts/proximanova-xbold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/proximanova-xbold.woff') format('woff'),
		  url('../fonts/proximanova-xbold.ttf') format('truetype'),
		  url('../fonts/proximanova-xbold.svg#proximanova-xbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: '21cent';
	src: url('../fonts/21cent.eot');
	src: url('../fonts/21cent.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/21cent.woff') format('woff'),
		  url('../fonts/21cent.ttf') format('truetype'),
		  url('../fonts/21cent.svg#21cent') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: '21cent-bold';
	src: url('../fonts/21cent-bold.eot');
	src: url('../fonts/21cent-bold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/21cent-bold.woff') format('woff'),
		  url('../fonts/21cent-bold.ttf') format('truetype'),
		  url('../fonts/21cent-bold.svg#21cent-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: '21cent-bolditalic';
	src: url('../fonts/21cent-bolditalic.eot');
	src: url('../fonts/21cent-bolditalic.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/21cent-bolditalic.woff') format('woff'),
		  url('../fonts/21cent-bolditalic.ttf') format('truetype'),
		  url('../fonts/21cent-bolditalic.svg#21cent-bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RedRingBold';
	src: url('../fonts/RedRingBold.eot');
	src: url('../fonts/RedRingBold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/RedRingBold.woff') format('woff'),
		  url('../fonts/RedRingBold.ttf') format('truetype'),
		  url('../fonts/RedRingBold.svg#RedRingBold') format('svg');
	font-weight: normal;
	font-style: normal;
}