@media (min-width: 576px) {
  .container {
    /*width: 540px;
    max-width: 100%;*/
  }
}

@media (min-width: 768px) {
  .container {
    /*width: 720px;
    max-width: 100%;*/
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.row.row-no-gutter,
.row[data-gutter="0"],
.row[data-gutter="none"] {
	margin: 0 !important;
}
.row.row-no-gutter > [class^="col-"],
.row[data-gutter="0"] > [class^="col-"],
.row[data-gutter="none"] > [class^="col-"] {
	padding: 0 !important;
}
.row[data-gutter="10"] {
	margin-left: -5px;
	margin-right: -5px;
}
.row[data-gutter="10"] > [class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}
.row[data-gutter="15"] {
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.row[data-gutter="15"] > [class^="col-"] {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}
