/*
*	Owl Carousel v2.1.1
*/

/* Styling Next and Prev buttons */

.owl-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	outline: 0;
	width: 40px;
	height: 50px;
	text-indent: -9999px;
	z-index: 9999;
	opacity: 0.8
}
.owl-prev {
	left: 10px;
}
.owl-next {
	right: 10px;
}
.owl-prev:hover, .owl-next:hover {
	opacity: 1;
}
.owl-prev:before{
	content: ' ';
	display: block;
	position: absolute;
	top: 8px;
	left: 14px;
	width: 30px;
	height: 30px;
	border-width: 3px 3px 0 0;
	border-style: solid;
	border-color: #c9aa57;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
.owl-next:before{
	content: ' ';
	display: block;
	position: absolute;
	top: 8px;
	right: 14px;	
	width: 30px;
	height: 30px;
	border-width: 3px 3px 0 0;
	border-style: solid;
	border-color: #c9aa57;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Custom Owl Nav Controls */

.custom-owl-prev, .custom-owl-next{
	position: absolute;
	top: 50%;
	outline: 0;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 9999;
	opacity: 0.8;	
	width: 57px;
	height: 57px;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	box-shadow: 0px 4px 6px 0px rgba(24, 24, 24, 0.09);
	border-radius: 50%;
}
.custom-owl-prev:hover:before, .custom-owl-next:hover:before{
	border-color: #b18ce0;	
	opacity: 1;
}
.custom-owl-prev{
	left: 40px;
}
.custom-owl-next{
	right: 40px;
}	
.custom-owl-prev:before{
	content: ' ';
	position: absolute;	
	display: block;
	top: 19px;
	left: 21px;
	width: 20px;
	height: 20px;
	border-width: 2px 2px 0 0;
	border-color: #616161;
	border-style: solid;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);	
}
.custom-owl-next:before{
	content: ' ';
	position: absolute;	
	display: block;
	top: 19px;
	right: 21px;
	width: 20px;
	height: 20px;
	border-width: 2px 2px 0 0;
	border-color: #616161;
	border-style: solid;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Styling Pagination*/

.owl-dots{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: -52px;
}
.owl-dots .owl-dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 6px;
	background-color: #333;
	border-radius: 50%;
}
.owl-dots .owl-dot.active{
	background-color: #da251d;
}