/* =Media Queries
-------------------------------------------------------------- */

/* = viewport height 900px
-------------------------------------------------------------- */
@media (max-height: 900px) {

	/*----------------------------------------*/
	/*  HEADER
	/*----------------------------------------*/
	
	/* .intro */
	.intro-panel {
		position: static;
		padding: 20px 0 0;
	}
	.intro-panel__right {
		margin: 0;
	}
	.intro {
		height: auto;
		padding-top: 0;
		padding-bottom: 50px;
	}
	.intro__broadcast {
		width: 65%;
		margin: 40px auto 0;
		max-width: 833px;
	}
	
}


@media (max-width: 1200px){

	
}

@media (max-width: 992px) {
	
	/*----------------------------------------*/
	/*  HEADER
	/*----------------------------------------*/
	
	/* intro */
	.intro-panel {
		position: static;
		padding: 20px 0 0;
	}
	.intro-panel__right {
		margin: 0;
	}
	.intro {
		height: auto;
		padding-top: 0;
		padding-bottom: 50px;	
	}
	.intro__broadcast {
		width: 600px;
		margin: 40px auto 0;
	}
	
	/* navbar */
	.navbar .navbar-brand {
		width: 121px;
		height: 56px;
	}
	.navbar .nav {
		display: block;
	}
	.navbar .navbar-nav > li > a {
		color: #333;	
	}
	.navbar .nav .dropdown-menu {
		border-color: #c9aa57;
		padding: 0;
		margin-top: 7px;
		border-radius: 0 0 5px 5px;
	}
	.navbar .search-field {
		display: block;
	}
	.navbar .search-field .form-control {
		color: inherit;
		width: 100%;
	}	

	/*----------------------------------------*/
	/*  MAIN CONTENT
	/*----------------------------------------*/
	
	/* banners */
	.banners .owl-carousel .item {
		height: 230px;	
	}		
	.banners .btn {
		font-size: 13px;
		right: 15px;
		bottom: 15px;
	}
	
	
}

@media (max-width: 767px) {

	/*----------------------------------------*/
	/*  HEADER
	/*----------------------------------------*/
	
	/* .intro */
	.intro__broadcast {
		border: 2px solid #c9aa57;
		width: 90%;
		margin: 40px auto 0;
	}
	
	
	/*----------------------------------------*/
	/*  MAIN CONTENT
	/*----------------------------------------*/
	
	/* banners */
	.banners .owl-carousel .item {
		height: 170px;	
	}	
	.banners .vip-banner-ribbon {
		right: 15px;
		top: 15px;
		width: 90px;
		height: 47px;
	}
	.banners .premium-banner-ribbon {
		right: 15px;
		top: 15px;
		width: 68px;
		height: 36px;
	}
	.owl-prev:before {
		top: 16px;
		width: 18px;
		height: 18px;
	}
	.owl-next:before {
		top: 16px;
		width: 18px;
		height: 18px;
	}
	
	/* place single */
	.place-heading .place-heading-top .place-title {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-bottom: 15px;
		clear: both;
	}
	.place-heading .place-heading-top .place-main-img {
		margin-bottom: 20px;
	}
	.place-heading .place-heading-top .place-heading-links {
		clear: both;
		margin-top: 20px;
	}
	.place-heading .place-heading-top .place-promote-dropdown {
		position: static;
		display: inline-block;
	}
	.place-info-list li {
		margin-bottom: 15px;
	}
	.place-info-list .place-info-icon {	
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	.place-info-list .place-info-text {
		display: inline-block;
		vertical-align: middle;
	}
	
	/* subscribe actions */
	.subscribe-actions .subscribe-text {
		font-size: 17px;
	}
	.subscribe-actions .form-subscribe .form-control {
		width: 100%;
	}
	.subscribe-actions .form-subscribe .btn {
		margin-top: 10px;
		margin-left: 0;
		width: 100%;
	}	
	
	/*----------------------------------------*/
	/*  FOOTER
	/*----------------------------------------*/

	.footer .footer-bottom {
		text-align: center
	}
	.footer .footer-bottom .text-right {
		text-align: center;
		margin-top: 10px;
	}
	.phone-field {
		margin-left: 13px;
	}
	
	
	
}

@media (max-width: 575px){ 

	.stats__widget {
		display: none;
	}
	
	
}


@media (max-width: 480px){

	.row[data-gutter="10"] {
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
	
	/*----------------------------------------*/
	/*  HEADER
	/*----------------------------------------*/
	.stats {
		padding: 15px 0;
	}
	.stats__widget {
		width: 100%;
		margin-bottom: 15px;
	}
	.stats__widget:last-child {
		margin-bottom: 0;
	}
		
	/*----------------------------------------*/
	/*  MAIN CONTENT
	/*----------------------------------------*/
	
	/* deals-list */			
	.deals-list [class^="col-"] {
		width: 100% !important
	}
	
	/* categories */
	.categories [class^="col-"]  {
		width: 100% !important
	}
	

}










