/*----------------------------------------*/
/*  Custom opinionated defaults
/*----------------------------------------*/

body {
   font-family: 'Open Sans', sans-serif;	
	font-size: 15px;
	color: #646464;
	background-color: #f1f1f1;
	line-height: 1.42857143;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
   direction: ltr;
   text-rendering: optimizeLegibility;
}

/*
 * Add the correct box sizing for all browsers.
 */
 
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

/*
 * Hide play button parent div
 */
 
*::-webkit-media-controls-panel {
	display: none!important;
	-webkit-appearance: none;
}

/*
 * Old shadow dom for play button
 */
 
*::--webkit-media-controls-play-button {
	display: none!important;
	-webkit-appearance: none;
}

/*
 * New shadow dom for play button
 */
 
*::-webkit-media-controls-start-playback-button {
	display: none!important;
	-webkit-appearance: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
 
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * Remove the gap between img and the bottom of their containers: h5bp.com/i/440
 */
 
img {
   vertical-align: middle;
}

/*
 * Responsive images
 */
 
.img-responsive {
	display: block;
	width: 100%;
	height: auto;
}

/*
 * Responsive default Images & Other Objects 
 */

img, object, embed {	
	max-width: 100%;
}

/*
 * Remove paddings
 */

.nopadding {
	padding: 0;
}

/*
 * Remove default fieldset styles.
 */
 
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
 
textarea {
   resize: vertical;
}

/*
 * Chrome Frame prompt
 */
 
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*
 * Clearfix: contain floats
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}
.clearfix:after {
   clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 
.clearfix {
   *zoom: 1;
}

/*
 * Remove default ul styles.
 */
 
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

/*
 * Remove default Headings styles.
 */
 
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
   font-weight: normal;
}

/*
 * Add the correct box sizing and remove padding for inputs.
 */

input[type=text], input[type=search], input[type=checkbox], input[type=radio], output {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

/*
 * Remove the blue styling of telephone numbers.
 */
 
a[href^=tel] {
   color: inherit;
   text-decoration: none;
}

/*
 * Styling links.
 */

a {
	color: #428bca;
	text-decoration: none;
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	transition: all 0.10s ease-out;  
}
a:hover {
   color: #06a;
}
a:focus {
	color: #2a6496;
}

/* Bootstrap customize */
 
.btn {
	cursor: pointer;
	text-decoration: none;
	outline: none; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	position: relative;
	border-radius: 3px;
	background-color: #f9bf3b;
	white-space: nowrap;
	line-height: 1.42857143;
	-ms-touch-action: manipulation;
		 touch-action: manipulation;	
}
.btn:hover {
	background-color: #f9bf3b;
}
.navbar-right {
	margin-right: 0;
}
.form-control {
	font-size: 14px;
	min-height: 32px;
	outline: none;
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	background-color: #fff;
	padding-left: 15px;	
	width: 100%;
}
.form-control::-webkit-input-placeholder {
	font-size: 14px;
	color: #333;
}
.form-control::-moz-placeholder {
	font-size: 14px;
	color: #333;
	opacity: 1;
}
.radio, .checkbox {
	margin: 0;
}
.modal {
	text-align: center;
	padding: 0!important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

/*
 * Base Scrollbar styling
 */

/*::-webkit-scrollbar {
   width: 7px;
}
::-webkit-scrollbar-track {
	background-color: #e4e8f5;
	border-radius: 10px
}
::-webkit-scrollbar-thumb {
	background-color: #525252;
	border-radius: 10px;
	width: 2px; 
}
::-webkit-scrollbar-thumb:hover {
   background-color: #5c5c5c;
}*/

/**
 * Go to Top Button
 */
.go-to-top {
	display: none;
	width: 40px;
	height: 40px;
	background: #515151;
	border-radius: 5px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 1000;
	bottom: 70px;
	right: 5%;
}
.go-to-top:before {
	font-family: 'FontAwesome';
	font-size: 33px;
	color: #fff;
	content: '\f106';
}
.go-to-top:hover {
    background: rgba(33, 51, 54, 0.4);
}

/*
 * Pagination
 */
 
.pagination{
	margin-top: 20px;
}
.pagination li{
	float: left;
	margin-right: 5px;
}
.pagination li a{
	font-size: 14px;
	opacity: 0.80;
	filter: alpha(opacity=80);
	color: #428bca;
	display: block;
	padding: 8px 15px;
	border-radius: 3px;
	background-color: #fff;
}
.pagination li.active a{
	background-color: #f0f6ff;
	color: #000;
}
.pagination li a:hover{
	opacity: 1;
}
.pagination li.disabled{
	display: none;
}

/*
 * Breadcrumbs
 */

.breadcrumbs{
	margin-bottom: 15px;
	position: relative;	
}
.breadcrumbs li{
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.breadcrumbs li:before{
	font-family: 'FontAwesome';
	font-size: 13px;
	color: #999;
	content: '\f105';
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px 0 0;
}
.breadcrumbs li:first-child:before{
	display: none;
}
.breadcrumbs li a{
	font-size: 14px;
	color: #999;
	text-decoration: none;
}
.breadcrumbs li a:hover,
.breadcrumbs li a.active{
    color: #cc2128; 
}

/* Custom margins */
.margin10 {
	margin: 10px 0;
}
.margin20 {
	margin: 20px 0;
}
.margin30 {
	margin: 30px 0;
}
.margin40 {
	margin: 40px 0;
}
.margin50 {
	margin: 50px 0;
}



/*----------------------------------------*/
/*  HEADER
/*----------------------------------------*/

.intro {
	text-align: center;
	background: url(../img/header-bg.jpg) center center no-repeat;
	background-size: cover;
    height: 100vh;
    min-height: calc(100% - 0);
	position: relative;
	padding-top: 250px;
}
.intro-panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 50px 40px 0;
}
.intro-panel__logo {
	float: left;
	display: block;
	width: 184px;
	height: 46px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
	text-indent: -9000px;
	position: relative;
	overflow: hidden;
}
.intro-panel__right {
	float: right;
}
.intro-panel__item {
	display: inline-block;
}
.intro-panel__link {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.intro-panel__link:hover {
	background-color: #fff;
	color: #000;
}
.intro__broadcast {
	border: 5px solid #c9aa57;
	max-width: 833px;
	background: #f1f1f1;
	margin: 0 auto;
}
.intro-stats {
	margin-top: 40px;
    display: inline-block;
}
.stats {
	background-color: #333;
	padding: 10px 25px;
}
.stats__widget {
    display: inline-block;
	margin: 0 15px;
}
.stats__widget-list {
	float: none;
	text-align: center;
    padding: 6px 0;	
}
.stats__widget-item {
	display: inline-block;
    background: #fff;
    border: 1px solid #878787;
    padding: 0 3px;
    color: #333333;
    font-size: 24px;
}
.stats__widget-text {
	font-size: 12px;
	color: #fff;
	text-align: center;
}




/* navbar */
.search-bar {
	text-align: center;
	background-color: #333333;
}
.search-bar .navbar {
	margin-bottom: 0;
	padding: 15px 20px;	
}
.search-bar .navbar-brand {
	background: none !important;
    text-indent: 0 !important;
	width: auto !important;
	height: auto !important;
	margin: 8px 0 0 0 !important;
    padding: 0 !important;
    color: #fff;
}
.navbar {
	/* background-color: #333333; */
	background-color: #FFF;
	padding: 15px 0;
	border-bottom: none;
}
.navbar-toggle {
	margin: 0;
}
.navbar-header, .navbar-collapse {
	margin: 0 !important
}
.navbar .navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
    background: #fc4545;
}
.navbar .navbar-brand {
    display: block;
    width: 121px;
    height: 61px;
    background: url(../img/2.2.png) no-repeat;
    background-size: 100%;
    text-indent: -9000px;
    position: relative;
    overflow: hidden;
    margin-top: -22px;
    margin-right: 0;
    margin-left: 0 !important;
}
#postsearch-q::-webkit-input-placeholder{
	color: #fc4545;
}

.navbar .navbar-auth li {
	display: inline-block;
}
.navbar .navbar-auth li a {
	font-size: 15px;
	color: #fc4545;
	display: inline-block;
	padding: 8px 20px;
	border: 1px solid #fc4545;
	border-radius: 5px;
}
.navbar .navbar-auth li a:hover {
	background-color: #fff;
	color: #000;
}
.navbar .nav {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	border-radius: 5px;
	float: none;
}
.navbar .nav .map-marker {
	font-size: 19px;
    display: inline-block;
    margin-left: 2px;
	margin-top: -2px;
    vertical-align: middle;
}
.navbar .nav > li > a {
	font-size: 15px;
	color: #fc4545 !important;
	padding: 9px 15px;
}
.navbar .nav > li > a:hover, 
.navbar .nav > li > a:focus {
    background: none;	
}
.navbar .nav .open > a, 
.navbar .nav .open > a:hover, 
.navbar .nav .open > a:focus {
    background: none;	
	border-color: transparent
}
.navbar .nav .dropdown-menu li a {
	color: #333;
}
.navbar .nav .dropdown-menu {
	border-color: #c9aa57;
	padding: 0;
	margin-top: 7px;
	border-radius: 5px;	
}
.navbar .nav li > a + .dropdown-parent {
	top: 43px !important
}
.navbar .nav .dropdown-menu > li > a {
	font-size: 15px;
    padding: 6px 20px 8px;
}
.navbar .nav .dropdown-menu > li > a:hover,
.navbar .nav .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #f9bf3b;
}
.navbar .search-field {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.navbar .search-field .form-control {
	font-size: 15px;
	color: #fc4545;
	position: relative;
	width: 270px;
	height: 40px;
	overflow: hidden;
	border: 1px solid #fc4545;
	background: none;
	border-radius: 5px;
}
.navbar .search-field .form-control::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
.navbar .search-field .form-control::-moz-placeholder {
	color: #fff;	
	opacity: 1;
}
.navbar .search-field .search-btn{
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
	width: 40px;
	height: 100%;
	border: none;
	background: none;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	border-left: 1px solid #fff;
}
.navbar .search-field .search-btn:before{
	content: "\f002";
	font-family: "FontAwesome";
	font-size: 15px;
	color: #fff;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.navbar .search-field .search-btn span{
   display: none;
}
.navbar-fixed {
	padding: 7px 0;
	position: fixed;
	background: #333333;
	width: 100%;
	top: -400px;
	left: 0;
	z-index: 10;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.navbar-fixed.showup {
	top: 0;
}




/*----------------------------------------*/
/*  MAIN CONTENT
/*----------------------------------------*/

.main-content {
	padding-top: 72px;
}
.page-heading {
    padding-top: 25px;
}
.page-heading h1 {
    font-size: 26px;
	font-weight: 600;
}
.section-heading {
	margin: 10px 0 5px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	padding: 10px 0;
}
.section-heading h2 {
	font-weight: 600;
	font-size: 18px;
	color: #F9BF3B;
	display: inline-block;
	vertical-align: middle;
}
.section-heading .sh-icon {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-left: 15px;
}
.section-heading .sh-icon.promos-icon {
	background: url(../img/new.png);
	background-size: 100%;
}
.section-heading .sh-icon.best-icon {
	background: url(../img/best.png);
	background-size: 100%;
}
.section-heading .sh-icon.real-estate-icon {
	background: url(../img/real-estate.png);
	background-size: 100%;
}
.section-heading .sh-icon.car-icon {
	background: url(../img/car.png) no-repeat;
	background-size: 100%;
	width: 43px;
	height: 22px;
}
.section-heading .sh-icon.vacancy-icon {
	background: url(../img/vacancy.png);
	background-size: 100%;	
}
.section-heading .sh-icon.afisha-icon {
	background: url(../img/afisha.png);
	background-size: 100%;	
}
.section-heading .sh-icon.news-icon {
	background: url(../img/news.png);
	background-size: 100%;	
}
.box {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	padding: 10px;	
}
.contained {
    background: #fff;
    padding: 30px 15px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}
.container-sm {
	max-width: 970px;
}
.sidebar #sidebar-nav {
    background: #f9fafa;
    overflow: hidden;
    margin: 0 0 20px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.sidebar #sidebar-nav li {
    border-bottom: 1px solid #f0f2f4;
    color: #7b8b8e;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.sidebar #sidebar-nav li:hover {
    background: #fff;
    color: #4b5658;
}
.sidebar #sidebar-nav li a {
    display: block;
    font-weight: 500;
    color: inherit;
    font-size: 14px;
    padding: 15px 20px;
    transition: padding 0.3s ease;
}
.sidebar #sidebar-nav li.current {
    background: #fff;
    color: #4b5658;
    border-color: #d4d9dd;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    z-index: 1;
}
.markdown-zone p {
    color: #576366;
    font-size: 14px;
    margin-bottom: 15px;
}
.markdown-zone a {
    text-decoration: none;
    font-weight: 500;
}
.markdown-zone ol li {
    list-style-type: decimal;
}
.markdown-zone ul, .markdown-zone ol {
    list-style: inside;
    padding-left: 15px;
    margin: 0 0 30px;
}
.markdown-zone ul li h3, .markdown-zone ol li h3 {
    margin-bottom: 10px;
    font-size: 14px;
	font-weight: 600;
    color: #8d9aa5;
}

/* auth page */
.auth-page {
    padding: 55px 0 30px;
}
.auth-page .logo {
    width: 177px;
    margin: 0 auto 30px;
}
.auth-page .auth-box {
    margin: 55px 0 30px;
	position: relative;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.06);	
	box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}
.auth-page .auth-box .auth-box-body {
    padding: 80px 45px 40px;
	position: relative;
}
.auth-page .auth-box .auth-box-body.border-left {	
	border-left: 1px solid #ededed;
}
.auth-page .auth-box .auth-welcome > h1 {
	color: #8d9aa5;
    margin: 0 0 15px;
}
.auth-page .auth-box .auth-form .information {
	font-size: 14px;
	color: #7b8b8e;
	padding-bottom: 15px;
	display: inline-block
}
.auth-page .auth-box .auth-form .form-control {
    height: 50px;
    padding: 12px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 5px;	
    border-width: 2px;
	border-color: #d4d9dd;
}
.auth-page .auth-box .auth-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 18px;
}
.auth-page .auth-box .auth-form .form-control::-moz-placeholder { /* Firefox 19+ */
	font-size: 18px;
}
.auth-page .auth-box .auth-form .form-control:-ms-input-placeholder { /* IE 10+ */
	font-size: 18px;
}
.auth-page .auth-box .auth-form .form-control:-moz-placeholder { /* Firefox 18- */
	font-size: 18px;
}
.auth-page .auth-box .auth-form .form-control:focus {
	border-color: #8c9aa6;
}
.auth-page .auth-box .auth-form .btn {
    font-size: 18px;
	color: #fff;
    padding: 12px 18px;
	width: 100%;	
}
.auth-page .auth-box .auth-form .error {
    font-size: 14px;
	font-weight: 600;
    color: #ed5a5a;
	margin-top: 7px;
	display: block;
}
.auth-page .auth-box .auth-form .remember label {
	font-weight: normal;
	cursor: pointer;
	padding-left: 5px;
}
.auth-page .auth-box .auth-social {
	padding: 40px 0;
	margin-bottom: 25px;
	border-bottom: 1px solid #ededed;
	text-align: center;
}
.auth-page .auth-box .auth-social > ul > li {
    padding: 0 2px;
}
.auth-page .auth-box .auth-social > ul > li .btn {
	text-align: center;
	font-size: 20px;
    color: #fff;
	width: 50px;
	padding: 10px 0;
}
.auth-page .auth-box .auth-social .btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}
.auth-page .auth-box .auth-social .btn-instagram {
    background-color: #125688;
    border-color: #125688;
}
.auth-page .auth-box .auth-social .btn-vk {
    background-color: #45668e;
    border-color: #45668e;
}
.auth-page .auth-box .auth-social .btn-gp {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

/* subscribe actions */
.subscribe-actions {
	text-align: center;
	margin: 0 auto;
    background-image: url(../img/free-trial.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 70px 0;
	position: relative;
}
.subscribe-actions:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: rgba(46,42,39,.8);
}
.subscribe-actions-content {
	position: relative;
	z-index: 1;
}
.subscribe-actions .subscribe-text {
	font-size: 22px;
	color: #fff;
	margin-bottom: 25px;
}
.subscribe-actions .form-subscribe {
	display: inline-block;
}
.subscribe-actions .form-subscribe .form-control {
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	height: 45px;
	width: 320px;
	border: 1px solid #e8e8e8;
}
.subscribe-actions .form-subscribe .btn {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	height: 45px;
	padding: 0 25px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}

/* banners */
.banners {
	padding: 20px 0;
}
.banners .banner-type {
	font-weight: 600;
	color: #000;
	float: right;
}
.banners .owl-carousel .item {
	height: 250px;	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.banners .owl-carousel img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.banners .vip-banner {
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	padding: 10px;	
}
.banners .premium-banner {
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	padding: 10px;	
}
.banners .vip-banner-ribbon {
	position: absolute;
	right: 25px;
	top: 25px;
	background: url(../img/vip.png) no-repeat;
	background-size: 100%;
	width: 146px;
	height: 77px;
	z-index: 1;
}
.banners .premium-banner-ribbon {
	position: absolute;
	right: 25px;
	top: 25px;
	background: url(../img/premium.png) no-repeat;
	background-size: 100%;
	width: 104px;
	height: 55px;
	z-index: 1;
}
.banners .banner-promo {
	font-size: 19px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #ff3030;
	padding: 5px 7px;
	z-index: 1;
}
.banners .btn {
	font-size: 17px;
	color: #fff;
	position: absolute;
	right: 25px;
	bottom: 25px;
	padding: 5px 25px;
}

/* deals list */
.deals-list .item {
	position: relative;
	border: 1px solid #cdd3d8;
	margin-bottom: 15px;
}
.deals-list .item .deals-promo {
	font-size: 14px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #ff3030;
	padding: 5px 7px;
	z-index: 1;
}
.deals-list .item .btn {
	font-size: 14px;
	color: #fff;
	background: #F9BF3B;
	position: absolute;
	right: 7px;
	bottom: 7px;
	padding: 5px 15px;
}
.deals-list .item .deals-desc {
	padding: 10px;
}
.deals-list .item .deals-desc p {
	font-size: 14px;
	line-height: 19px;
} 
.deals-list .item .deals-desc .deals-bottom {
	margin-top: 10px;
}
.deals-list .item .deals-desc .deals-bottom .deals-price {
	font-size: 18px;
	font-weight: bold;
	color: #1b1b1b;
	float: left;
	margin-top: 5px;
}
.deals-list .item .deals-desc .deals-bottom .btn {
	position: static;
	float: right;
}

/* real-estate */
.real-estate .deals-list .item img {
	height: 180px;
}

/* vacancy list */
.vacancy-list .vacancy-item {
	border: 1px solid #cdd3d8;
}
.vacancy-list .vacancy-item .vacancy-desc {
	padding: 10px;
}
.vacancy-list .vacancy-item .vacancy-desc p {
	font-size: 14px;
	line-height: 19px;
}
.vacancy-list .vacancy-item .vacancy-desc .btn {
	font-size: 14px;
	color: #fff;
	float: right;
	padding: 5px 15px;
	margin-top: 10px;
}

/* news list */
.news-list .item {
	position: relative;
	border: 1px solid #cdd3d8;
	padding: 15px;
}
.news-list .item .news-title {
	font-size: 17px;
	font-weight: bold;
	color: #2f2f2f;
	line-height: 22px;
	padding-bottom: 15px;
}
.news-list .item .deals-desc {
	max-height: 100px;
}
.news-list .item .news-desc p {
	font-size: 14px;
	line-height: 19px;
} 
.news-list .item .news-info li {
	margin-top: 10px;
	color: #3d5dff;
	cursor: pointer;
}
.news-info-icon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	text-align: center;
}
.clickToShowButton {
	display: inline-block;
	vertical-align: middle;
}

/* categories */
.categories {
	padding: 40px 0;
	background-color: #ecf1f6;
	margin-top: 40px;
}
.categories .categories-heading {
    font-size: 20px;
	color: #636E88;
    font-weight: 600;
    margin: 0 0 35px;
}
.categories .categories-item {
	margin-bottom: 30px;
}
.categories .categories-title a {
	font-size: 16px;
	font-weight: 700;
	color: #000;
	padding-bottom: 10px;
	display: block;
}
.categories ul li a {
	font-size: 14px;
	color: #000;
}
.categories ul li a:hover {
	text-decoration: underline
}
.categories .subcategories-expander {
	font-size: 14px;
	text-decoration: underline;
}
.categories .subcategories-expander:hover {
	text-decoration: none;
}

/* place images */
.place-images-container {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,.1);
	box-shadow: 0 2px 1px rgba(0,0,0,.1);
}
.place-images-container .place-image {
    display: block;
    position: relative;
    height: 210px;
    margin: 1px;
    overflow: hidden;
}
.box {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.box, .place {
    margin-bottom: 20px;
}
.place-heading .place-heading-top {
    position: relative;
}
.box-body {
    padding: 20px;
}
.place-heading.box {
	padding: 0;
}
.place-heading .place-heading-top .place-title {
    display: inline-block;
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 32px;
    max-width: calc(100% - 300px);
}
.place-heading .place-heading-top .place-title {
    display: inline-block;
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 32px;
    max-width: calc(100% - 300px);
}
.place-heading .place-heading-top .place-main-img {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.place-images-container .place-images .place-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.place-services {
    font-size: 13px;
}
.place-heading .place-heading-top .place-rating {
    margin-top: 20px;
}
.rating.rating-lg {
    font-size: 18px;
}
.rating.rating-lg>i {
	font-size: 22px;
	color: #fbd31c;
    margin-right: 5px;
    margin-bottom: -1px;
}
.pre-d {
    position: relative;
    margin-left: 7px;
    padding-left: 11px;
}
.pre-d:before {
    display: block;
    width: 2px;
    height: 2px;
    content: '.';
    position: absolute;
    left: 0;
    top: -2px;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    color: inherit;
}
.box-divider {
    width: 100%;
    height: 1px;
    background-color: #ededed;
}
.place-pages-links {
    padding-top: 0;
    padding-bottom: 0;
}
.place-heading .place-heading-top .place-promote-dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
}
.place-heading .place-heading-top .place-promote-dropdown .btn {
	font-size: 15px;
	color: #fff;
}
.place-pages-links {
    padding-top: 0;
    padding-bottom: 0;
}
.place-pages-links .place-pages {
    float: left;
}
.pages-nav>ul>li {
    display: inline-block;
    margin-right: 15px;
}
.pages-nav>ul>li>a {
    display: block;
    padding: 12px 0;
    font-size: 15px;
    font-weight: 600;
}
.pages-nav>ul>li.active>a {
    color: #000;
    border-bottom: 3px solid #999;
}
.place-bottom.box {
	padding: 0;
}
.place-desc-options {
    padding-top: 10px;
}
.place-desc-options>div.row>label {
    padding-right: 30px;
    font-weight: 600;
}
.place-photo, .place-video {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 7.5px;
    overflow: hidden;	
}
.place-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.place-info .map {
	height: 300px;
}
.place-info-list {
	margin-top: 25px;
}
.place-info-list .place-info-icon {
	font-size: 22px;
	margin-top: 2px;	
	float: left;
}
.place-info-list .place-info-text {
	margin-left: 30px;
}
.place-info-list .place-info-text p {
	margin: 0;
}
.place-info-list .place-open {
	color: #3a9e2e
}
.place-info-list .place-closed {
	color: #fb3e5e
}
.place-info-list .schedule-status {
	border-bottom: 1px dotted transparent;
	display: inline-block
}
.place-info-list .place-open .schedule-status {
    border-bottom-color: #3a9e2e;
}
.place-info-list .place-closed .schedule-status {
    border-bottom-color: #fb3e5e;
}
.place-info-list .schedule-list {
	font-weight: 700;
}
.box-title {
    font-weight: 600;
    font-size: 16px;
	padding-bottom: 15px;
}
.place.place-li {
    position: relative;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.place.place-sm {
    padding: 10px 0;
}
.place.place-li .place-left {
    width: 75px;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
}
.place.place-li .place-images {
    width: 100%;
    height: 90px;
    position: relative;
}
.place .place-body {
    overflow: hidden;
}
.place.place-li .place-body .place-title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 1px;
    padding-right: 100px;
    position: relative;
    margin: 0 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.place.place-li .place-body .place-rating > i {
	font-size: 17px;
	color: #fbd31c;
    margin-right: 5px;
    margin-bottom: -1px;
	vertical-align: middle;
}
.place .place-body .place-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
}
.place.place-li .place-body .place-address {
    color: #999;
}

/* new advert */
.new-advert {
	
}
.sidebar .form-suggest {
    background: #f9fafa;
    overflow: hidden;
    margin: 0 0 20px;
    border-radius: 5px;
	padding: 30px 20px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.sidebar .form-suggest.warning b {
	margin-bottom: 10px;
	display: inline-block
}
.sidebar .form-suggest.warning .btn {
	font-size: 16px;
	font-weight: 600;
	color: #505b5e;
	height: 40px;
	line-height: 36px;
	padding: 0 15px;
	width: 100%;
	border: solid 2px #d4d9dd;
	background: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;	
}
.sidebar .form-suggest.warning .btn:hover {
	border-color: #a9b3bb;
}
.sidebar .form-suggest.warning h4 {
    color: rgb(139, 0, 0);
}
.sidebar .form-suggest h4 {
	margin-bottom: 15px;
}
.sidebar .form-suggest ul {
	list-style: disc;
	padding-left: 20px;
}
.sidebar .form-suggest ul li {
    margin-bottom: 15px;
    color: #b7c0c7;
    font-size: 18px;
	line-height: 22px;
}
.sidebar .form-suggest ul li span {
    color: #7b8b8e;
    font-size: 14px;
    line-height: 14px;
}
.new-advert .form-group {
	margin-top: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #edeff0;
}
.new-advert .form-group label {
    font-weight: 600;
	color: #576366;
	margin-top: 6px;
}
.new-advert .form-group .selectize-input {
	border: 2px solid transparent;
	font-size: 17px;
	color: #576366;
    box-shadow: none;
	padding: 0 15px;
    display: inline-block;
    min-height: 36px;
    line-height: 36px;
	transition: .2s;
	background: #e8ebed;
	border-radius: 3px;
}
.new-advert .form-group .form-control,
.new-advert .form-group textarea {
	background: #e8ebed;
	font-size: 17px;
	color: #576366;
	padding: 18px 15px;
	border: 2px solid transparent;
	transition: .2s;
	box-shadow: none;
}
.new-advert .form-group textarea {
    width: 100%;
    padding: 11px 15px;
    margin: 0;
    min-height: 155px;
    display: block;
    line-height: 1.5;
    font-weight: normal;
    transition: height .4s, .2s;
}
.new-advert .form-group .selectize-input.focus,
.new-advert .form-group .form-control:focus, 
.new-advert .form-group textarea:focus {
    background: #fff;
    border-color: #d4d9dd !important;
}
.new-advert .form-group .help-text {
    font-size: 13px;
    color: #7b8b8e;
    line-height: 1.3;
	margin-top: 10px;
	display: inline-block
}
.new-advert .form-group .upload-img.logo {
	height: 120px;
} 
.new-advert .form-group .upload-img {
	text-align: center;
	background-color: #fff;
	border: solid 4px #f1f1f1;
	border-radius: 5px;
	display: block;
	color: #f4811f;
	height: 160px;
	position: relative;
	margin-bottom: 10px;
	cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;	
}
.new-advert .form-group .upload-img:before {
	content: '\f055';
	color: #f1f1f1;
	font-family: 'FontAwesome';
	font-size: 40px;
	display: inline-block;
	vertical-align: middle;
	line-height: 150px;
    transition: color 0.3s ease	
}
.new-advert .form-group .upload-img:hover {
	border-color: #f4811f;
	color: #f4811f;
}
.new-advert .form-group .upload-img:hover:before {
	color: #f4811f;
}
.new-advert .form-group .img-uploaded:hover {
	border: none;
}
.new-advert .form-group .img-uploaded {
	cursor: default;
	border: none;
}
.new-advert .form-group .upload-img.img-uploaded:before {
	display: none;
}
.new-advert .form-group .upload-img img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;	
	border-radius: 5px;
}
.new-advert .form-group .remove-btn {
	position: absolute;
	text-align: center;
	color: #fff;
	border: none;
	font-size: 11px;
	right: 5px;
	top: 5px;
	z-index: 2;
	/* line-height: 30px; */
	height: 25px;
	width: 25px;
	cursor: pointer;
	opacity: 0.8;
	border-radius: 50%;
	background: rgba(0,0,0,0.9);
}
.new-advert .form-group .remove-btn:hover {
	opacity: 1;
}
.new-advert .form-group .map {
    width: 100%;
    height: 320px;
    padding: 0;
    margin: 0;
}
.new-advert .input-group {
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 10px;
}
.new-advert .input-group label {
	margin-right: 5px;
}
.new-advert .input-group .form-control {
	height: 35px !important;
	padding: 0 15px;
	width: 70px;
	float: none;
	border-radius: 3px !important;
}
.new-advert .btn {
	font-size: 16px;
	font-weight: 600;
	color: #5fcf80;
	height: 40px;
	line-height: 36px;
	padding: 0 15px;
	border: solid 2px #5fcf80;
	background: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;	
}
.new-advert .btn:hover {
	color: #34ad58;
	border-color: #34ad58;
}
.new-advert .advert-agree {
	font-size: 13px;
	margin: 15px 0;
}



/*----------------------------------------*/
/*  FOOTER
/*----------------------------------------*/

.footer {
	background-color: #333333;
	border-top: 8px solid #f9bf3b
}
.footer .footer-main {
	padding: 40px 0 0;
}
.footer .footer-main p {
	font-size: 13px;
	color: #999;
	margin-top: 25px;
}
.footer .footer-main .footer-social {
	margin: 15px 0 25px 0;
	padding-top: 15px;
	position: relative;
}
.footer-social {
	font-size: 20px;
}
.footer .footer-main .footer-social:before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	height: 1px;
	background: #222
}
.footer .footer-main .footer-social:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: #444
}
.footer .footer-main .footer-social li a {
	font-size: 25px;
	color: #999;
	padding-right: 15px;
}
.footer .footer-main .footer-social li a:hover {
	color: #fff
}
.footer .footer-main .footer-widget {
	margin-bottom: 30px;	
}
.footer .footer-main .footer-widget h3 {
    font-weight: 700;
    font-size: 14px;
	color: #fff;
    margin-bottom: 20px;
}
.footer .footer-main .footer-widget li a {
	font-size: 14px;
	color: #999
}
.footer .footer-main .footer-widget li a:hover {
	color: #fff;
	text-decoration: underline
}
.footer .footer-main .footer-widget .btn {
	color: #fff;
	padding: 3px 10px;
	margin-top: 10px;
}
.footer .footer-bottom {
	font-size: 13px;
	border-top: 1px solid #424242;
	padding: 20px 0;
}
.footer .footer-bottom a {
	color: #fff;
}
.footer .footer-bottom a:hover {
	text-decoration: underline;
}
.phone-field {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 7px;
}
.phone-field a {
	color: #fc4545;
	font-size: 16px;
}